<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
   @* @{ //razer operatoru @
        for (int i = 0; i < length; i++)
        {
            
        }
    }*@
</body>
</html>