@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //burada gelecek layoutu belırtıyoruz burada 
    //hangısını layout olarak alıcagını bıldırıyoruz
} _ViewStart  tasıyrum bunu *@

@section Solmenü{
    <h4>Reklam</h4>
}
<h1>Burası Index @*@Product //burada kutuphane tanımlalamamıza ramen geldı cunkı _ViewInport ta tanımladık*@</h1>