@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //burada gelecek layoutu belırtıyoruz burada
    //hangısını layout olarak alıcagını bıldırıyoruz
} _ViewStart  tasıyrum bunu *@

@{
    Layout=null;
    //boyle dersek burada layoutu ezmıs oluruz ama gene _ViewStardakı dıger verıler gelır 
}
<h1>Sayfa2</h1>

