@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //burada gelecek layoutu belırtıyoruz burada
    //hangısını layout olarak alıcagını bıldırıyoruz
} _ViewStart  tasıyrum bunu *@

<h1>Sayfa1</h1>

@section  Solmenü{
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
    </ul>
}

