
@{
    ViewData["Title"] = "Index";
}

<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>
<h1>Ana sayfa</h1>

