@{
    ViewData["Title"] = "Home Page";
}
@*@inject Dependency_Injection_IoC_Yapılanması.Controllers.Services.Interface.ILog log

@{
    log   Boylede kullanılabılır ler
}*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
